.Div2{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    margin-top:0px;
    width:100%;
    max-width:100%;    
    padding:10px 20px;
}
.divTxt{
    margin-left: 20px;
    padding:5px;
}
.text{
    font-size:31px;
    font-family:'Quicksand',Arial, Helvetica, sans-serif;
    color: #43121d;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.1px;
}
.divTxt ul{
    padding-left:15px;
}
.divTxt ul li{
    padding: 6px 0 9px 10px;
    display:list-item;
    font-size:20px;
}
.btn1{
    font-size:16px;
    margin:7px 0px;
    padding:10px 20px 8px 20px;
    border-radius: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border:2px solid whitesmoke;
    background-color: #a82d49;
    color:white;

}
.btn1:hover{
    border:2px solid #a82d49;
    background-color: white;
    color:#a82d49;
}

@media screen and (max-width:760px) {
    .Div2{
    display:grid;
    grid-template-columns: repeat(1,auto);       
        
    }
    
    .divTxt{
        width:100%;
        margin:0;
        padding:0;

    }
    .text{
        font-size:20px;
        line-height:20px;
        margin:0;
        padding:0;
        margin-bottom: -28px;
    }
    .divTxt ul li{
        padding: 6px 0 9px 10px;
        display:list-item;
        font-size:16px;
    }
  
}
