.container{
    
    padding:120px 170px 80px 170px;;
    width:100%;
    max-width: 100%;
}
.Div{
    background-color: white;
    padding:18px;
    width:100%;
}

.text h3{
    color: #af3d56;
    text-align:center;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    margin:5px 0 30px 0  ;
    padding:0;
}
@media screen and (max-width:760px){
    .container{
        padding:90px 10px 30px 10px;;
        
    }
    .text h3{
       
        font-size: 24px;
        
    }
}
@media (prefers-color-scheme: dark) {
    .container{
        background-color: white;
        color:black;
    }
}