.container{
    width:100%;
    max-width:100%;
    background-color: rgb(238, 226, 226);
    padding:130px 420px 50px 400px;
    position:fixed;
    opacity:0.95;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    z-index:4;
}
#form h1{
    color: #af3d56;
    text-align:center;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    margin: 0;
    padding:0;
}
#form{
    opacity:1;
    width:100%;
    max-width: 100%;
    border:2px solid black;
    border-radius: 20px;
    justify-content: center;
    justify-items: center;
    padding:5px;
}
.exits{
    font-size: 20px;
    padding:1px;
    margin-top:-5px;
    height: 40px;
}
.exits:hover{
    font-size: 23px;
}
@media screen and (max-width:760px){
    .container{
        background-color: rgb(238, 226, 226);
        padding:290px 20px 80px 20px;
        position:fixed;
        opacity:0.95;
        justify-content: center;
        justify-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
       
    }
    #form{
        opacity:1;
        width:100%;
        max-width: 100%;
        border:2px solid black;
        border-radius: 20px;
        justify-content: center;
        justify-items: center;
        padding:10px;
        margin-top:-180px;
    }
    #form h1{
        text-align:center;
        font-size: 20px;
        margin:-20px 0 -10px 0;
    }
   
    #form input{
        padding:1px;
        padding-left:5px;
        margin-top:0px;
    }
}

@media screen and (min-width:760px) and (max-width:1024px){
    .container{
        background-color: rgb(238, 226, 226);
        padding:290px 50px 80px 50px;
        position:fixed;
        opacity:0.95;
        justify-content: center;
        justify-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
       
    }
    #form{
        opacity:1;
        width:100%;
        max-width: 100%;
        border:2px solid black;
        border-radius: 20px;
        justify-content: center;
        justify-items: center;
        padding:10px;
        margin-top:-180px;
    }
    #form h1{
        text-align:center;
        font-size: 26px;
        margin:-20px 0 -10px 0;
    }
    #form input{
        padding:1px;
        padding-left:5px;
        margin-top:0px;
    }
}

