.header{
    
    overflow-x:hidden;
    width:100%;
    max-width: 100%;
     
}
.headImg{
    background-image: url('../images/habitos-saludables-mhas.jpg');
    margin-top:90px;
    height:600px;
    width:62%;
    max-width: 100%;
    padding-left:40px;
    float:right;
    z-index:1;
    background-repeat: no-repeat;
    overflow-x:hidden;
}
.text{
    padding:250px 0 0 90px;
    width:38%;
    
    
}
.txttt{
    font-size:40px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #43121d;
    max-width: 100%;
}
.text button{
    font-size:16px;
    margin:10px;
    margin-left:0;
    padding:10px 20px 8px 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border:2px solid whitesmoke;
    
}
.btn1{
    background-color: #a82d49;
    color:white;
}
.text button:hover{
    border:2px solid #a82d49;
    background-color: white;
    color:#a82d49;
}
.btn2{
    background-color: white;
    color:black;
}
@media screen and (max-width:760px){
    .head{
        background-image: url('../images/habitos-saludables-mhas.jpg');
        width:100%;
        max-width: 100%;
        margin-top:-50px;
        padding-top:0;
    }
    .headImg{
    width:0%;
    
    height:200px;
    padding-left:0;
    justify-self: center;
    
   }
   .text{
    width:75%;
    padding:15px;
    padding-top:160px;
    font-size:14px;
    margin-left:0px;
    padding-bottom: 30px;
   }
   .txttt {
    
    font-size:25px;
   }
   .text button{
    font-size:16px;
    margin:5px;
    padding:10px 20px 8px 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border:2px solid whitesmoke;
    margin-top:-10px;
    margin:-6px 2px 9px 0;
    
}
}