.container{
    overflow-x:hidden;
}
@media (prefers-color-scheme: dark) {
    #header{
        background-color: white;
        color:black;
    }
    #div1{
        background-color: white;
        color:black;
    }
    #div2{
        background-color: white;
        color:black;
    }
    #div3{
        background-color: white;
        color:black;
    }
}