
#container{
    position: fixed;
    width:100%;
    max-width: 100%;
    z-index: 5;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 2px;
    background-color: rgba(128, 128, 128, 0.301);
}
.image{
    width:50px;
    height:50px;
}
#links{
    font-size: 17px;
    line-height: 1.6;
    color: #cf3f61;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left:50px;
}

#links:hover{
    color:rgba(7, 7, 111, 0.856);
}
#links:first-child{
    margin-left:300px;
}
#contain:first-child{
    margin-left:120px;
}
#hi:first-child{
    color:whitesmoke;
    
}

@media screen and (max-width:990px){
    #contain:first-child{
        margin:0;
    }
    #links:first-child{
        margin:0;
        margin-left:8px;
    }
    #links{
        padding:20px 12px 12px 5px;
        font-size: 17px;
        line-height: 1.6;
        color: #cf3f61;
        font-weight: 600;
        margin-left:8px;
    
    }
}


@media (prefers-color-scheme: dark) {
   
    
}